<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Get/stats
  </h1>
</div>
<h2>Desenvolvido por Andrew Maia</h2>

<div *ngIf="st$ | async as st">
  <h3>Hits:</h3>{{ st.hits }}
  <br/>
  <h3>Quantidade:</h3>{{ st.urlCount }}
  <div>
      <h3>Top Urls</h3>
      <ul>
          <li *ngFor="let url of st.topUrls">
            ID:{{ url.id }}
            <br/>
            Hits:{{ url.hits }}
            <br/>  
            Url:{{ url.url }}
            <br/>  
            Short Url:{{ url.shortUrl }}
          </li>
        </ul>
  </div>
</div>

